@charset "utf-8";
 
/* reset */
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, p {padding: 0; margin: 0;}
ul, ol, li {list-style: none;}
h1, h2, h3, h4, h5, h6, strong {font-size: 16px; font-weight: normal;}
img {vertical-align: middle;}
a {text-decoration: none; color: black;}

/* base */
 body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 16px;
  position: relative;
  /* background-color: red; */

  /* 창을 축소할 시, 요소 짤림 방지 */
  /* 최소 --px부터는 줄어들지 않겠다는 의미 */
  /* fit-content : 박스의 크기에 따라 콘텐츠의 크기도 따라감 */
  /* min-width: fit-content; */
  /* min-height: fit-content; */
  
  /* 생성된 컨텐츠들의 공통 부모너비가 있다면 min-width를 같은값으로 추가해보자. */
  min-width: 1200px;
  
  /* font */
  /* font-family: ; */
}

*::selection{
  /* 드래그 색상 */
 color: #fff;
 background-color: #028267;
}

h1, h2, h3, h4, h5, h6 {font-size: 1.2rem;}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*  */
.animated{
  transition: 1s ease;
}

/* 슬라이드 : flex */
.slide {
 display: flex;
 white-space: nowrap;
}

/* content_title */
.content_title {
 font-size: 30px;
 font-weight: 900;
 margin-left: 1rem;
}

/* card */


.card {cursor: pointer;}
.card .card_title {
  font-size: 24px;
  font-weight: bold;
  color: #36413E;
  margin: 1rem 0;
 }
 .card .card_hash {
   color: #36413E;
   font-size: 16px;
 }

 .hidden{font-size: 0; width: 0; height: 0; z-index: -999;}

 /* btn frame의 틀을 지정해주는게 좋을 것 같음 */
 .btn{
   position: absolute;
   width: 28px;
   height: 28px;
   background-color: #fff;
   border: 1px solid #6e7170;
   color: #8a8f8e;
   text-align: center;
   line-height: 28px;
  }
  .btn:hover{
    color: #fff;
    background-color: #333333;
    cursor: pointer;
  }
  .all_btn{
    width: 174px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #6e7170;
  font-size: 16px;
  font-weight: 700;
  color: #36413E;
  background-color: #ffffff00;
  }
  .all_btn:hover{
    color: #fff;
    background-color: #009C75;
    border: 0 none;
    cursor: pointer;
  }
  /* footer title */
  .ftt {font-weight: 700;font-size: 15px;}

/* base-end-------------------------------------------------------------------------- */




/* header */
#header {
  position: relative;
  width: 100%;
  height: 120px;
  padding-top: 22px;
}
#header .header_contain{
 margin: 0 auto;
 width: 1200px;
}
#header .header_top {
  display: flex;
  width: 1200px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}
#header .logo {
  width: 220px;
  height: 90px;
  display: flex;
  flex-wrap: norwap;
  overflow: hidden;
  margin-left: 20px;
  position: relative;
}
#header .logo>ul {
  width: 220px;
  height: 79px;
  display: flex;
  position: absolute;
}

.logo li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 79px;
}
.logo li i {
  width: 220px;
  height: 80px;
}

#header .logo img {
  width: 220px
}
.search_box {
  /* height: 44px; */
  width: 395px;
  margin-left: 42px;
  border-radius: 38px;
  border: #f5f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s ease;
}
input.search_txt:hover {
  outline: 2px solid #c0ded7;
  border: 1px solid #009c75;
  transition: 0.3s ease;
}
input.search_txt:focus {
  outline: 2px solid #c0ded7;
  border: 1px solid #009c75;
}
.search_txt {
  width: 371px;
  height: 34px;

  outline: none;
  border: none;
  font-size: 14px;
  border-radius: 34px;
  background: #f5f6f6;
  float: left;
  padding: 8px 10px 8px 1rem;
  display: inline-flex;
}

.search_btn {
  border: none;
  outline: none;
  float: right;
  height: auto;
  font-size: 22px;
  position: absolute;
  margin-right: 1rem;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
}

.popular_s {
  display: flex;
  width: 200px;
  height: 44px;
  margin-left: 40px;
  cursor: pointer;
  position: relative;
}
.popular_s>span>i {
 display: flex;
 align-items: center;
 color: #8a8f8e;
 position: absolute;
 right: 0.5rem;
 top: 0.8rem;
}
 .popular_s_ul{
   overflow: hidden;
   position: relative;
   width: 116px;
   height: 35.5px;
}

.popular_s>h2 {
  width: 57px;
  height: 44px;
  align-items: center;
  font-size: 13px;
  line-height: 15px;
  padding-top: 15px;
  white-space: norwrap;
  font-weight: 700;
  color: #8a8f8e;
}

.popular_s .popular_s_ul li>span {
 font-weight: bold;
 margin: 0 0.5rem;
}
.popular_s .popular_s_ul li {
  flex-shrink: 0;
  width: 90px;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  font-size: 13px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 15px;
  cursor: pointer;
  position: absolute;
 }
 .popular_s .popular_s_ul li>p:hover {
   color: #009C75;
 }
 .pop_menu{
  display: none;
 }
 .pop_menu.on{
  display: block;
   background-color: #fff;
   width: 180px;
   border-radius: 4px;
   box-shadow: 0 4px 4px rgba(0,0,0,0.1);
   border: 1px solid #cbd1d0;
   position: absolute;
   right: 0;
   top: 40px;
   padding: 0.5rem;
   z-index: 11;
  }
  .pop_menu li{
    margin: 1rem 0;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
  }
  .pop_menu li:hover{
    color: #009C75;
  }
  .pop_menu p{
    display: inline-block;
  }
  .pop_menu span{
    margin: 0 0.5rem;
    font-weight: bold;
  }
  
#header {
  position: relative;
}

.mem_bar {
  display: flex;
  padding-top: 1rem;
  margin:0 1rem;
}



.mem_bar li {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  height: 44px;
  cursor: pointer;
}


.mem_bar li i {
  font-size: 26px;
}

.mem_bar p {
  text-align: center;
  line-height: 13px;
  font-size: 11px;
  margin-top: 3px;

}

#header nav {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 1200px;
  height: 60px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav{
  position: relative;
}
nav .nav_menu {
  display: flex;
 }
 nav .nav_menu>li>i {
   margin-right: 1rem;
 }
 nav .nav_menu>li.on {
   color: #009C75;
  }

 nav .nav_menu>li:hover {
   color: #009C75;
   transition: color 0.3s ease;
 }
 nav .nav_r {
   display: flex;
   margin-left: 13px;
   margin-right: 13px;
 }
 nav .nav_r li {
   cursor: pointer;
 }
 nav .nav_r li:hover {
   color: #009C75;
   transition: color 0.3s ease;
 }
#header nav .nav_li {
  padding-right: 1rem;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
  height: 60px;
  display: flex;
  align-items: center;
}
.all_menu_hover.on{
  display: block;
  transform: translate(-50%, 0%);
  position: absolute;
  top: 100%;
  left: 50%;
  max-width: 1300px;
  min-width: 1200px;
  width: 100vw;
  height: 620px;
  padding: 39px 0 60px 0;
  
  /* 수평그림자, 수직그림자, spread, 그림자 크기, 색상 */
  box-shadow: 0 32px 40px -25px rgba(0,0,0,0.4);
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  z-index: 10;
}
.all_menu_hover{
  display: none;
}

.menu_list1, .menu_list2, .menu_list3{
  color: black;
  margin: 0 auto;
  width: 1200px;
}
.menu_list1{
  display: flex;
  height: 86px;
  text-align: center;
  margin: 0 auto 50px auto;
}
.menu_list1 li{
  cursor: pointer;
  margin-right: 30px;
}
.menu_list1 .img_box{
  width: 62px;
  height: 62px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f5f6f6;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.menu_list2{
  display: flex;
  height: 45px;
  margin: 0 auto 50px auto;
}
.menu_list2 li{
  display: flex;
  align-items: center;
  margin-right: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 45px;
  font-size: 14px;
}
.menu_list2 img{
  width: 60px;
  height: 60px;
}
.menu_list2 div{
  height: 45px;
  padding: 0.2rem 2rem;
  display: flex;
  align-items: center;
}

.menu_list3{
  margin: 0 atuo;
}
.menu_list3 li{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.menu_list3 dl{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 260px;
  margin-top: 1rem;
}
.menu_list3 dl dt{ /* grid의 첫 칸은 혼자 차지하도록 */
  grid-column: 1 / span 2;
  font-size: 16px;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.menu_list3 dl dd{
  font-size: 14px;
  font-weight: 500;
}

/* 중단 */
/* banner_btn */
.container .prev_btn:hover{
 background-color: #009c75;
}
.container .prev_btn{
 position: absolute;
 left: 0;
 bottom: -5rem;
 background-color: #0d4a3b;
 width: 40px;
 height: 40px;
 border-radius: 20px;
 color: #fff;
 text-align: center;
 line-height: 42px;
 font-size: 20px;
 cursor: pointer;
}
.container .next_btn:hover{
background-color: #009c75;
}
.container .next_btn{
 position: absolute;
 left: 3rem;
 bottom: -5rem;
 background-color: #0d4a3b;
 width: 40px;
 height: 40px;
 border-radius: 20px;
 color: #fff;
 text-align: center;
 line-height: 42px;
 font-size: 20px;
 cursor: pointer;
}
.container .banner_btn {
  position: relative;
  width: 1200px;
  margin: 0 auto 0 auto;
  top: 0;
}
.container .banner_btn .page_num{
  position: absolute;
  left: 8rem;
  bottom: -4.5rem;
  font-size: 18px;
  font-weight: 700;
}

/* bannenr */
.container .banner{
  width: 100%;
  overflow: hidden;
}
.container .banner .banner_title{
  position: absolute;
  /* 50% > 600px 될 때 차이 값만큼 이동 */
  left: calc(50% - 600px); 
  top: 30%;
  color: white;
  font-weight: 900;
  font-size: 44px;
 }
 .container .banner .banner_title>p>span{
   color: rgb(243, 243, 143);
 }
.container .banner .banner_slide{
  overflow: hidden;
  display: flex;
  
  /* 3개의 이미지가 나열되어 있으므로 300%로 설정 */
  width: 500%;
}
.container .banner .banner_slide li{
  width: 100%;
  height: 624px;
  position: relative;
}
 .container .banner_line{
   position: absolute;
   left: 0;
   width: 100%;
   z-index: -1;
   height: 60vw;
   max-height: 400px;
   
  }
  .container .banner>.banner_slide>li:first-child .banner_line{
    background-color: #85ae4c;
  }
  .container .banner>.banner_slide>li:nth-child(2) .banner_line{
    background-color: #be4a4a;
  }
  .container .banner>.banner_slide>li:nth-child(3) .banner_line{
    background-color: #5270c3;
  }
  .container .banner>.banner_slide>li:nth-child(4) .banner_line{
    background-color: #85ae4c;
  }
  .container .banner>.banner_slide>li:last-child .banner_line{
    background-color: #be4a4a;
  }
  .container .banner_cont{
    position: absolute;
    top: 0;
    right: 0;
    height: 70vw;
    max-height: 680px;
    min-width: 93vw;
    max-width: 1340px;
  }
  .container .banner>.banner_slide>li:first-child .banner_cont {
    background: url('../src/banner7.jpg')no-repeat;
    background-size: cover;
  background-color: red;
  }
  .container .banner>.banner_slide>li:nth-child(2) .banner_cont {
    background: url('../src/banner5.jpg')no-repeat;
  }
  .container .banner>.banner_slide>li:nth-child(3) .banner_cont {
    background: url('../src/banner6.jpg')no-repeat;
  }
  .container .banner>.banner_slide>li:nth-child(4) .banner_cont {
    background: url('../src/banner7.jpg')no-repeat;
  }
  .container .banner>.banner_slide>li:last-child .banner_cont {
  background: url('../src/banner5.jpg')no-repeat;
  }

 /* reco1 */
.container .reco {
 width: 100%;
 margin: 13rem 0;
}
.container .reco_contain {
 width: 1200px;
 margin: 0 auto;
}
.container .reco .reco_ul{
 padding: 1rem;
 display: flex;
 overflow: auto;
 position: relative;
}
.container .reco .reco_ul::-webkit-scrollbar{
 display: none;
}
.container .reco .reco_li{
 margin-right: 2rem;
 box-shadow: 0 4px 4px rgba(0,0,0,0.25);
 border-radius: 10px;
 cursor: pointer;
}
.container .reco .reco_li:first-child .reco_img{
 width: 430px;
 height: 256px;
 background: url('../src/reco4.png');
 background-size: 430px 256px;
 border-radius: 10px 10px 0 0;
}
.container .reco .reco_li:nth-child(2) .reco_img{
 width: 430px;
 height: 256px;
 background: url('../src/reco1.png');
 background-size: 430px 256px;
 border-radius: 10px 10px 0 0;
}
.container .reco .reco_li:nth-child(3) .reco_img{
 width: 430px;
 height: 256px;
 background: url('../src/reco2.png');
 background-size: 430px 256px;
 border-radius: 10px 10px 0 0;
}
.container .reco .reco_li:nth-child(4) .reco_img{
 width: 430px;
 height: 256px;
 background: url('../src/reco2.png');
 background-size: 430px 256px;
 border-radius: 10px 10px 0 0;
}
.container .reco .reco_li .reco_p{
 width: 370px;
 height: 272;
 padding: 30px;
 border-radius: 0 0 10px 10px;
}
.container .reco .reco_li .reco_p>p{
 margin-bottom: 0.5rem;
}
.container .reco .reco_li .reco_p>p:first-child{
 color: #009C75;
 font-size: 18pz;
}
.container .reco .reco_li .reco_p>p:nth-child(2){
 font-size: 24px;
 font-weight: bold;
}
.container .reco .reco_li .reco_p>p:nth-child(3){
 font-size: 17px;
 color: #6e7170;
}
.container .reco .reco_li .reco_p>p:nth-child(4){
 font-size: 26px;
 font-weight: 900;
 text-align: end;
}
.container .reco .reco_li .reco_p>p:nth-child(4)>span{
 font-weight: normal;
}
.container .reco .reco_ul>.prev_btn{
 position: absolute;
 text-align: center;
 line-height: 40px;
 width: 40px;
 height: 40px;
 border: 1px solid #e5e7eb;
 background-color: #fff;
 color: #dfdfdf;
 left: 1rem;
 top: 50%;
}
.container .reco .reco_ul>.next_btn{
 position: absolute;
 text-align: center;
 line-height: 40px;
 width: 40px;
 height: 40px;
 border: 1px solid #e5e7eb;
 background-color: #fff;
 color: #dfdfdf;
 right: 0;
 top: 50%;
}
/* 버튼 활성화  */
.container .reco .reco_ul>.active:hover{
 border: 0px none;
 background-color: #00000099;
 cursor: pointer;
 color: #fff;
}



/* news */
.container .news {
 margin: 5rem 0;
 width: 100%;
 height: 646px;
}
.container .news_contain {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.container .news_contain .news_box {
  position: absolute;
  left: 80px;
  top: 80px;
  display: flex;
}
.container .news_contain .news_slide {
  width: 600px;
  height: 285px;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 5rem;
}
.container .news_contain .news_slide>li>p {
  text-align: left;
  width: 430px;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.container .news_slide .news_prev_btn {
  top: 40%;
  left: 0;
}
.container .news_slide .news_next_btn {
  top: 40%;
  right: 0;
}
.container .news_contain>.content_title {
  position: absolute;
  left: 80px;
  top: -40px;
}
.container .news_contain .bg_box {
  width: 417px;
  height: 646px;
  position: absolute;
  z-index: -1;
  border-radius: 32px;
  background-color: rgb(229 242 255);
}
.container .news_contain .content_title>span {
  color: #009C75;
}
.container .news_slide .news_img{
  background: url('../src/news1.png');
  width: 430px;
  height: 256px;
  border-radius: 10px;
}
.container .news_contain .news_mini_slide{
  display: flex;
  width: 600px;
  overflow: hidden;
  cursor: grab;
}
.container .news_contain .news_mini_slide>li {
  margin: 0.5rem;
}
.container .news_mini_slide>li img{
 width: 140px;
 height: 140px;
 border-radius: 10px;
}
.container .news_left{
  width: 600px;
}
.container .news_right{
  width: 494px;
  margin-left: 1.5rem;
  /* margin-right: 1.5rem; */
}
.container .news_right .news_reco_box>h4{
  font-size: 18px;
}
.container .news_right .news_reco_box>h4>span{
  font-weight: 700;
}
.container .news_right .news_reco span.num{
  color: #009C75;
  font-weight: 800;
  margin-right: 1rem;
}
.container .news_right .news_reco li.on{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88px;
  font-size: 15px;
  font-weight: 500;
}
.container .news_right .news_reco li{
  display: none;
}
.container .news_right .news_reco li>p{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .news_right .news_reco .look{
  padding: 0.3rem 0.8rem;
  font-size: 12px;
  border-radius: 12px;
  border: 1px solid #e9eaea;
  background-color: #fff;
  cursor: pointer;
  
}
.container .news_right .slide_btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .news_right .slide_btn>button{
  cursor: pointer;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  padding: 0;
  border: 0;
  margin: 0 0.3rem;
  background-color: #cbd1d0;
}
.container .news_right .slide_btn>button.on{
  width: 8px;
  height: 8px;
  background-color: #8a8f8e;
}
.container .news_right .news_reco_box{
  width: 434px;
  height: 196px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(254 255 244);
  margin-bottom: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .news_right .news_notice{
  width: 462px;
  height: 158px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
}
.container .news_right .news_notice>h2{
  font-weight: bold;
}
.container .news_right .news_notice_list{
  height: 92px;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 700;
  justify-content: space-between;
}
.container .news_right .news_notice_list>li{
  padding: 6px 0;
  border-bottom: 1px solid #bbbbbb;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.container .news_right .news_notice_list>li:hover{
  transition: color 0.5s ease;
  color: #009C75;
}
.container .news_right .news_notice_list>li>span{
  color: #8a8a8a;
  font-weight: normal;
}
.container .news_right .news_notice_list>li:last-child{
  border: 0 none;
}





/* sale */
.container .sale {
 width: 100%;
 height: 740px;
 padding: 100px 0;
 margin: 5rem 0;
 background-color: rgb(254 241 254);
}
.container .sale_contain {
  width: 1200px;
  margin: 0 auto;
}
.container .sale_contain .sale_timer{
  height: 358px;
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 2rem;
  cursor: pointer;
}

.container .sale_contain .sale_img {
  width: 600px;
  height: 358px;
  background: url('../src/sale_big.jpg')no-repeat;
  background-size: cover;
}
.container .sale_contain .sale_time{
  width: 500px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
.container .sale_contain .d_day>i {
  margin-right: 0.5rem;
}
.container .sale_contain .d_day {
  width: 500px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 900;
  border-radius: 29px;
  background-color: #333333;
  color: #fff;
}
.container .sale_contain .d_day .time {
  color: rgb(241 114 189);
  margin: 0.2rem ;
}
.container .sale_contain .sale_time>p:nth-child(2) {
  font-size: 24px;
  font-weight: 700;
  width: 500px;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: end;
  
}
.container .sale_contain .sale_time>p:nth-child(3) {
  color: #8a8f8e;
  font-size: 14px;
}
.container .sale_contain .sale_time>p:nth-child(4) {
  font-size: 22px;
  font-weight: 500;
}
.container .sale_contain .sale_time>p:nth-child(4)>span {
  font-weight: 900;
}
.container .sale_slide {
  display: flex;
  position: relative;
  height: 130px;
  margin-top: 2rem;
  padding: 3rem;
}
.container .sale_slide>li {
  display: flex;
  cursor: pointer;
}
.container .sale_slide li:first-child .sale_slide_img {
  width: 216px;
  height: 130px;
  border-radius: 10px;
  background: url('../src/sale5.jpg');
}
.container .sale_slide li:nth-child(2) .sale_slide_img {
  width: 216px;
  height: 130px;
  border-radius: 10px;
  background: url('../src/sale4.png');
}
.container .sale_slide li .sale_slide_cont {
  width: 259px;
  height: 130px;
  margin:0 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .sale_slide li .sale_slide_cont>span {
  color: #fff;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: rgb(241 114 189);
  text-align: center;
  line-height: 14px;
  width: 36px;
  height: 12px;
  font-size: 14px;
}
.container .sale_slide li .sale_slide_cont>p:nth-child(2) {
  font-size: 18px;
  font-weight: 500;
}
.container .sale_slide li .sale_slide_cont>p:nth-child(3) {
  font-size: 16px;
  display: flex;
  align-items: center;
}
.container .sale_slide li .sale_slide_cont>p:nth-child(3)>span {
  font-size: 20px;
  font-weight: bold;
  margin-left: 0.5rem;
}

.container .sale .sale_prev_btn{
  left: 0;
  top: 40%;
}
.container .sale .sale_next_btn{
  right: 0;
  top: 40%;
}
.container .sale .sale_all_look{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}



/* now */
.container .now {
 width: 100%;
}
.container .now .now_contain {
 width: 1200px;
 margin: 0 auto;
}
.container .now .now_slide {
 display: flex;
 align-items: center;
 justify-content: center;
}
.container .now .now_slide li{
  margin: 0 1rem;
  font-size: 20px;
  font-weight: bold;
  word-break: break-all;
  width: 174px;
  text-align: center;
  cursor: pointer;
}
.container .now .now_slide li.on{
  font-size: 22px;
  width: 240px;
}
.container .now .now_slide li>img{
 width: 174px;
 height: 174px;
 margin-bottom: 1rem;
}
.container .now .now_slide li.on>img{
 width: 240px;
 height: 240px;
}


/* liveM */
.container .liveM{
 width: 100%;
 margin: 5rem 0;
 /* display: flex;
 justify-content: center; */
}
.container .liveM .liveM_contain{
 width: 1200px;
 margin: 0 auto;
}

.container .liveM span{
  width: 300px;
  margin: 1rem 0;
  padding-left: 1rem;
  font-size: 20px;
  display: inline-block;
  word-break: break-all;
}
.container .liveM .live_ul{
 display: flex;
 /* overflow-x: auto; */
 overflow-x: hidden;
 width: 1200px;
}
.container .liveM .live_ul li{
 margin: 0 0.5rem;
 width: 227px;
 overflow: hidden; /* 이미지 크기를 크게 사용하고 싶은데, 범위가 넘치지 않았으면함 */
 cursor: pointer;
 
 /* overflow속성이 제대로 너비값을 가져오지 못할때가 있으므로 해당 속성으로 너비가 줄어들지 않도록 함. */
 flex-shrink: 0; 
}
.container .liveM .live_ul li img{
  height: 401px;
  width: 400px;
}
.container .liveM .live_ul li>p:nth-child(2){
  font-size: 18px;
  font-weight: bold;
  margin: 1rem 0;
}
.container .liveM .live_ul li>p:nth-child(3){
  font-size: 15px;
  font-weight: 500;
  color: #6e6e6e;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.container .liveM .live_ul li:first-child img{
  width: 227px;
  height: 401px;
}
.container .liveM .live_ul li .img_box{
  width: 227px;
  height: 401px;
  border-radius: 10px;
  overflow: hidden;
}
.container .liveM .all_lievM{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}


/* trend */
.container .trend{
 width: 100%;
 height: 692px;
 padding: 100px 0;
 margin: 5rem 0;
 background-color: #f5f6f6;
 display: flex;
 justify-content: center;
}
.container .trend .trend_box{
 width: 1200px;
}
.container .trend .trend_box .trend_contain{
  display: flex;
  justify-content: space-between;
}
.container .trend .trend_contain .trend_tap{
  width: 450px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.container .trend .trend_tap>span{
  font-size: 20px;
  font-weight: 500;
  color: #6e6e6e;
  cursor: pointer;
}
.container .trend .trend_tap>span.on{
  color: black;
  font-weight: 900;
}
.container .trend .trend_tap .move_line{
  width: 60px;
  height: 4px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 5%;
}
.container .trend .trend_box .trend_slide{
  display: flex;
  margin: 5rem 1rem;
}
.container .trend .trend_slide{
  overflow: hidden;
  height: 540px;
}
.container .trend .trend_slide>li{
  margin-right: 1rem;
  position: relative;
}
.container .trend .trend_slide .trend_img{
  width: 384px;
  height: 420px;
  border-radius: 10px;
  cursor: pointer;
}
.container .trend .trend_slide li:first-child>.trend_img{
  background: url('../src/trend5.jpg')no-repeat;
  background-size: cover;
}
.container .trend .trend_slide li:nth-child(2)>.trend_img{
  background: url('../src/trend2.jpg')no-repeat;
  background-size: cover;
}
.container .trend .trend_slide li:nth-child(3)>.trend_img{
  background: url('../src/trend6.jpg')no-repeat;
  background-size: cover;
}
.container .trend .trend_slide li:nth-child(4)>.trend_img{
  background: url('../src/trend3.jpg')no-repeat;
  background-size: cover;
  background-position: -140px 0;
}
.container .trend .trend_slide .trend_cont{
  width: 270px;
  height: 138px;
  padding: 30px;
  position: absolute;
  bottom: 5%;
  right: 0;
  border-radius: 10px 10px 0 10px;
  background-color: #fff;
  box-shadow: 10px 12px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .trend .trend_slide .trend_cont>p:first-child{
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
.container .trend .trend_slide .trend_cont>p:nth-child(2){
  font-size: 17px;
  color: #8a8a8a;
}
.container .trend .trend_slide .trend_cont>p:nth-child(3){
  font-size: 24px;
  text-align: end;
}
.container .trend .trend_slide .trend_cont>p:nth-child(3)>span{
  font-weight: 900;
}









/* mid_banner2 */
.container .mid_banner {
 display: flex;
 align-items: center;
 justify-content: space-around;
 height: 234px;
 width: 1200px;
}

.container .mid_banner .wifi img {
 width: 527px;
 height: 180px;
 border-radius: 10px;
 cursor: pointer;
}

.container .mid_banner .dutyfree img {
 width: 527px;
 height: 180px;
 border-radius: 10px;
 cursor: pointer;
}




/* here -해인- */
.container .here {
 width: 100%;
 height: 560px;
 padding: 100px 0;
 background-color: #f5f6f6;
 margin-top: 130px;
}
.container .here .content_title {
 width: 1200px;
 margin: 0 auto;
}
.container .here .here_content{
 display: flex;
 grid-template-columns: 300px calc(100% - 300px);
 justify-content: space-between;
 margin-top: 60px;
 height: 440px;
}
.container .here .here_left{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 400px;

 /* 부모너비(100%) - 1200px(현재 html에서 사용하는 태그 평균 너비) */
 /* 1200px보다 클 경우 남는 공간을 2로나눈 값으로 padding 양쪽 분배하되 왼쪽에만 패딩값을 주겠다는 의미 */
 /* 이는 중앙 정렬에 도움을 줌 : 특히 고정된 너비를 가진 컨테이너를 가운데 정렬하고자 자주 사용 */
 /* calc : css의 속성값을 계산하기위해 사용 | 다양한 단위 조합(%, rem, px...)을 사용하여 계산을 수행할 수 있게 해줌. */
 padding-left: calc((100% - 1200px) / 2);
}
.container .here .here_left>span{
 display: flex;
 justify-content: space-between;
 width: 153px;
 padding: 1.3rem 24px;
 border-radius: 80px;
 color: #fff;
 background-color: #00000081;

}
.container .here .here_left>span.selected{
 background-color: #009c7569;
}
.container .here .here_left>span:hover{
 background-color: #009c7569;
 cursor: pointer;
}
.container .here .background_relative{
 position: relative;
 max-width: 1390px;
 min-width: 700px;
}
.gradient_background {
 position: absolute;
 right: 0;
 z-index: 10;
 background: linear-gradient(to left, rgba(255, 255, 255, 0.8), transparent);
 width: 10%; /* 필요한 경우 조절 */
 height: 100%; /* 필요한 경우 조절 */
}
.container .here .here_right_box{
 display: none;
 overflow: auto;
 height: 440px;
 max-width: 1200px;
 margin-left: 200px;
 cursor: grab;
}
.container .here .here_right_box.on{
 display: flex;
 overflow: auto;
 height: 440px;
 max-width: 1200px;
 margin-left: 200px;
}
.container .here .here_right_box::-webkit-scrollbar{
height: 4px;
}
.container .here .here_right_box::-webkit-scrollbar-thumb{
 background-color: #555;
 width: 30%;
}
.container .here .here_right_box::-webkit-scrollbar-track{
 background-color: #dfdfdf;
 width: 30%;
}

.container .here .here_right{
 margin-left: 1rem;
 display: flex;
 flex-direction: column;
 cursor: pointer;
 /* justify-content: space-around; */
}
.container .here .here_right>p{
 margin: 1rem ;
}
.container .here .here_right>p:nth-child(2){
 font-size: 24px;
 font-weight: bold;
}
.container .here .here_right .here_table{
 display: grid;
 grid-template-rows: repeat(2, 1fr);
 grid-template-columns: repeat(2, 1fr);
 width: 458px;
 height: 256px;
}
.container .here .here_right .here_table .here_table_img{
 background-color: pink;
 border-radius: 10px;
 margin: 4px;
}
.container .here .here_right .here_table .here_table_img:first-child{
 grid-row: 1 / 3;
}









/* best5 */
.container .best5 {
 width: 1200px;
 margin: 5rem auto;
}
.best5 .best_container {
 display: flex;
 justify-content: center;
}
.best5 .best_table {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(2, 1fr);
 width: 1200px;
}
.best5 .best_container .best_th {
 display: flex;
 align-items: end;
 cursor: pointer;
}
.best5 .best_container .best_th>p {
 font-size: 20px;
 color: #fff;
 padding: 1.5rem;
}
.best5 .best_container .best_th:first-child {
 grid-row: 1/ span 3;
 background: linear-gradient(to bottom, rgba(255, 255, 255, 0)1%,  rgba(0, 0, 0, 0.5)99%),
 url("../src/best5_6.jpg")no-repeat;
 background-size: cover;
 width: 342px;
}
.best5 .best_container .best_th:nth-child(2){
 height: 183px;
 width: 342px;
 background: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(0, 0, 0, 0.8)99%),
 url("../src/best5_7.jpg")no-repeat;
 background-size: cover;
}
.best5 .best_container .best_th:nth-child(3){
 height: 183px;
 width: 342px;
 background: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(0, 0, 0, 0.8)99%),
 url("../src/best5_9.png")no-repeat;
 background-size: cover;
}
.best5 .best_container .best_th:nth-child(4){
 height: 183px;
 width: 342px;
 background:linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(0, 0, 0, 0.8)99%),
 url("../src/best5_8.jpg")no-repeat;
 background-size: cover;
}
.best5 .best_container .best_th:nth-child(5){
 height: 183px;
 width: 342px;
 background: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(0, 0, 0, 0.8)99%),
 url("../src/best5_10.png")no-repeat;
 background-size: cover;
}
.best5 .best_container .best_th {
 margin: 0.5rem;
 border-radius: 10px;
 position: relative;
 overflow: hidden;
}
.best5 .best_container .card_hover {
 position: absolute;
 top: 0;
 display: flex;
 justify-content: space-around;
 align-items: center;
 z-index: -1;
 /* background-color: rgba(0, 156, 117, 0.8); */
 width: 100%;
 height: 100%;
 border-radius: 10px;
}
.best5 .best_container .card_hover:hover {
 background-color: rgba(0, 156, 117, 0.8);
}
.best5 .best_container .card_hover .hover_left {
 width: 240px;
 color: #fff;
 white-space: nowrap;
 word-break: break-all;
}
.best5 .best_container .card_hover .hover_left>p:first-child {
 font-size: 20px;
 font-weight: bold;
 overflow: hidden;
 text-overflow: ellipsis;
}
.best5 .best_container .card_hover .hover_left>p:nth-child(2) {
 font-size: 14px;
 color: rgba(255, 255, 255, 0.5);
}
.best5 .best_container .card_hover .hover_left>p:nth-child(3) {
 font-size: 24px;
 font-weight: bold;
}
.best5 .best_container .card_hover .hover_right {
 color: #fff;
 font-size: 18-px;
}






/* reco2 */
.container .reco2 {
 margin: 5rem auto;
 width: 1200px;
 overflow: hidden;
}
.container .reco2 .card_li::-webkit-scrollbar{
 display: none;
}
.container .reco2 .card_li{
 margin: 1rem 0;
 width: 100%;
 display: flex;
 justify-content: space-around;
 position: relative;

 overflow: auto;
 /* overflow: hidden; */
}
.container .reco2 .card{
 margin: 0 1rem;
}
.container .reco2 .card_img{
 width: 462px;
 height: 594px;
 overflow: hidden;
 border-radius: 10px;

 /* 이미지 밝기를 조절하는 코듸 */
 filter: brightness(80%); 
}
.container .reco2 .card_img:hover{
 filter: none;
}
.container .reco2 .card_img>img{
 width: 462px;
 height: 594px;
}
.container .reco2 .card_title {
 font-size: 22px;
}

/* mid_banner_2 */
.container .mid_banner2{
 display: flex;
 justify-content: center;
}
.container .mid_banner2>a{
 width: 1200px;
 height: 256px;
 background: url("../src/mid_banner2_1.png");
 background-size: cover;
}


/* pli */
.container .pli{
 display: flex;
 justify-content: center;
 height: 750px;
 width: 100%;
 position: relative;
 padding-top: 100px;
 overflow: hidden;
 /* absolute 가운데 정렬시 필요한 base */
 /* 정렬할 widh에 auto 부여 */
 margin: 9rem auto 0 auto;
}
.container .pli .card_li {
 display: flex;
}
.container .pli .pli_bg{
 width: 100%;
 height: 452px;
 z-index: -1;
 background-color: #009c75;
 position: absolute;
 top:0;
 overflow: visible;

 /* 부모요소를 넘기는 코드 */
 /* margin-left: calc(-50vw + 50%); */
}
.container .pli .pli_title{
 color: #fff;
 font-size: 30px;
 font-weight: 700;

 position: absolute;
 top:5rem;
 /* 가운데 정렬 */
 left: 50%;
 /* 좌표값을 정가운데 기준으로 오게 함 */
 transform: translate(-47%, -50%);
}
.container .pli .pli_content{
 color: #fff;
 text-align: center;
 font-size: 20px;

 position: absolute;
 top: 8rem;
 /* 가운데 정렬 */
 left: 50%;
 transform: translate(-47%, -50%);
}
.container .pli .card{
 display: flex;
 flex-direction: column;
 margin: 5rem 3rem 0 3rem;
}
/* .container .pli .card.on{
 position: absolute;
} */
.container .pli .card .card_video {
 position: relative;
 width: 720px;
 height: 406px;
 border-radius: 10px;
}
.container .pli .card .card_video>img {
 border-radius: 10px;;
 width: 720px;
 height: 406px;
}
.container .pli .card .card_video>.play_icon {
 position: absolute;
 width: 200px;
 height: 200px;
 top: 40%;
 left: 320px;
 color: #fff;
 z-index: 10;
}

/* slide */
/* .container .pli .card_posi {
 position: absolute;
 top:9rem;
 width: 100%;
}
.container .pli .card_li{
 width: 100%;
 display: flex;
 justify-content: space-around;
} */
.slide_wrapper{
 position: relative;
 width: 1200px;
 height: 600px;
 /* margin: 0 auto; */
 display: flex;
 justify-content: center;
 transform: translate(-50%, 0);
 overflow: visible;
 /* cursor: grab; */

}
.slides{
 position: absolute;
 left: 0;
 top: 0;
 min-width: 100%;
}

.pli>.controls {
 display: inline-block;
 position: absolute;
 bottom: 5rem;
 transform: translate(50%, 0);
}
.pli>.controls button{
 width: 34px;
 height: 34px;
 font-size: 14px;
 text-align: center;
 color: #8a8f8e;
 background-color: #fff;
 border: 1px solid #8a8f8e;
}
.pli>.controls button:hover{
 color: #fff;
 background-color: #36413E;
}
.slides.animated {
 transition: 1.5s ease-out;
 height: 600px;
 overflow: hidden;
}
.slides li{
 margin-top: 10px;
 float: left;
 width: 720px;
 height: 467px;
}

.controls {
 text-align: center;
 margin-top: 50px;
}



/* footer */
#footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 1067px;
 }
 
 #footer .headset_icon {
   background: url("../src/headset.svg") no-repeat;
   width: 30px;
   height: 30px;
 }
 
 #footer .bottom_top {
   background-color: #f5f6f6;
   display: flex;
   flex-wrap: nowrap;
   width: 100%;
   justify-content: space-around;
   height: 481px;
   padding: 100px 0;
   border-top: 1px solid #e5e7eb;
 }
 #footer .bottom_top .bottom_top_width {
   display: flex;
   width: 1200px;
 }
 #footer .bottom_mid_width {
   display: flex;
   width: 1200px;
   margin: 0 auto;
 }

 #footer .bot_top_left{
   width: 450px;
   padding-right: 50px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 #footer .bot_top_left a{
   display: flex;
   align-items: center;
   font-size: 24px;
   font-weight: 900;
 }
 #footer .bot_top_left a:hover{
   color: #009C75;
 }
 #footer .bot_top_left p{
   font-weight: 700;
   margin: 0;
 }
 #footer .bot_top_left .nums:nth-child(1) a{
   color: #009C75;
 }
 #footer .bot_top_left .nums{
   margin: 1rem 0;
 }
 #footer .bottom_top .phone_num1 {
   /* inline-grid > inline-block처럼 작동 */
   display: grid;

   /* grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr; */
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
 }
 #footer .ann {
   display: flex;
   flex-direction: column;
   background-color: #fff;
   padding: 1.5rem;
   border-radius: 4px;
  height: 180px; 
 }
 
 #footer .ann>p {
   border-bottom: 2px solid black;
   padding-bottom: 0.5rem;
   font-size: 16px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
 }
 #footer .ann .ann_li {
   height: 104px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 #footer .ann>p>span {
   font-size: 24px;
   font-weight: normal;
   cursor: pointer;
 }
 #footer .ann .ann_li_box {
   display: flex;
   justify-content: space-between;
 }
 #footer .ann .ann_li_box:hover {
   cursor: pointer;
 }
 #footer .ann .ann_li_box>p {
   width: 230px;
   font-size: 14px;
   font-weight: normal;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }
 #footer .ann .ann_li_box>span {
   font-size: 12px;
   color: grey;
   width: 57px;
   text-align: justify;
 }
 


 #footer .bot_top_right {
   border-left: 2px solid #e5e7eb;
   padding-left: 50px;
   width: 740px;
 }
 #footer .bot_top_r {
   display: flex;
   justify-content: space-between;
   margin-bottom: 48px;
 }

 #footer .consult_num {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(4, 1fr);
 }
 
 #footer .consult_num {
   height: 350px;
   width: 330px;
 }
 #footer .consult_num .coun_box:first-child, .coun_box:nth-child(2) {
   grid-column: 1 / 3;
   color: #1f2120;
   /* 아래와 같다 */
   /* grid-column-start: 1;
   grid-column-end: 3; */
 }
 #footer .consult_num .coun_box:first-child {
   display: flex;
   justify-content: space-between;
 }

 #footer .consult_num .coun_box .next_icon {
   background: url("../src/next_arrow.svg")no-repeat;
   width: 12px;
   height: 12px;
   margin-left: 8px;
 }
 #footer .consult_num .coun_box:first-child>a {
   display: flex;
   align-items: center;
   font-size: 14px;
   font-weight: normal;
   cursor: pointer;
   }
 #footer .coun_box:first-child {
   align-self: center;
   border-bottom: 2px solid black;
   padding-bottom: 0.5rem;
   font-size: 16px;
 }
 #footer .coun_box .ftt {
   display: flex;
 }
 #footer .coun_box .ftt p:nth-child(1){
   margin-right: 0.5rem;
 }
 #footer .coun_box .couns_text p{
   color: #36413E;
   font-size: 15px;
 }
 #footer .consult_time {
   display: grid;
   height: 350px;
   width: 350px;
   margin-left: 1rem;
   grid-template-rows: 88px 1fr 1fr 1fr;
   grid-template-columns: 1fr;
 }
 #footer .consult_time .cons_box:first-child {
   align-self: center;
   border-bottom: 2px solid black;
   padding-bottom: 0.6rem;
   font-size: 16px;
 }
 #footer .consult_time .cons_box {
   font-size: 15px;
 }
 #footer .consult_time .cons_box>p {
   font-size: 12px;
   font-weight: normal;
   color: #36413E;
 }
 #footer .consult_time>.cons_box a:hover {
   color: #009c75;
 }
 #footer .couns_text li{
   font-weight: normal;
   font-size: 14px;
   color: grey;
 }
 #footer .list_box {
   display: flex;
   justify-content: space-between;
 }
 #footer .list_box .li_box {
   display: flex;
   align-self: center;
   white-space: nowrap;
   padding: 19px 22px;
   width: 180px;
   height: 21px;
   background-color: #fff;
   border-radius: 4px;
   cursor: pointer;
 }
 #footer .list_box .li_box img {
   margin-right: 0.5rem;
 }
 #footer .list_box .li_box span {
   margin-top: 2px;
 }
 #fam_site>option:first-child {
   display: none;
 }



 #footer .bottom_mid {
   height: 44px;
   width: 1200px;
   padding: 1rem 0;
   width: 100%;
   background-color: white;
   line-height: 44px;
 }
 #footer .bot_mid_box {
   display: flex;
   width: 100%;
   white-space: nowrap;
   justify-content: space-between;
 }
 #footer .bot_mid_left>a:nth-child(2) {
   font-weight: bold;
 }
 #footer .bot_mid_left>a:hover {
   text-decoration-line: underline;
 }
 #footer .bot_mid_left>a {
   margin: 0 4px;
   font-size: 14px;
 }
 #footer .bot_mid_right {
   margin-left: 1rem;
 }
 #footer .bot_mid_right .selected_site {
   padding: 0.5rem;
 }
 
 #footer .bottom_bot {
   height: 212px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
   border-top: 1px solid #e5e7eb;
 }
 
 #footer .bottom_bot .bot_top {
   margin: 0 75px;
   height: 148px;
   width: 1200px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 16px 0;
 }
 #footer .bottom_bot .bot_bot {
   border-top: 1px solid #e5e7eb;
   align-items: center;
   justify-content: center;
   display: flex;
   height: 50%;
 }
 #footer .bottom_bot .bot_bot ul {
   display: flex;
   justify-content: space-around;
   width: 1200px;
   border-top: 1rem;
 }
 #footer .bottom_bot .bot_bot a{
   width: 100%;
   padding: 16px 0;
   display: flex;
 }
 #footer .bottom_bot .bot_bot li {
   width: 160px;
   height: 34px;
   margin: 0 0.5rem;
   text-align: center;
   
   /* dummy design */
   line-height: 34px;
   color: #8a8f8e;
   background-color: #f5f6f6;
 }

 #footer .bot_top_t {
   width: 900px;
   position: relative;
 }
 #footer .bot_cont_link>a {
   font-size: 13px;
   font-weight: bold;
   color: #6e7170;
   text-decoration-line: underline;
   position: absolute;
   top: 2px;
   right: 0px;
 }
 #footer .bot_top_t>a:hover {
   text-decoration-line: none;
 }
 #footer .bot_cont{
   display: inline-block;
   white-space: nowrap;         
   font-size: 13px;
   color: #8a8f8e;
 }
 #footer .bot_cont>span:first-child{
   font-weight: bold;
 }
 #footer .bot_cont>span:nth-child(2){
   margin-right: 1rem;
 }
 #footer .bot_top_b {
   font-size: 12px;
 }
 #footer .bot_top_b>p {
   margin: 1rem 0;
   color: #8a8f8e;
   white-space: nowrap;
 }

 /* footer other img */
 #footer .bot_top_ri {
   /* border: 1px solid red; */
   width: 178px;
   height: 148px;
   margin-left: 3rem;
   background-color: #f5f6f6;

   /* imf 대신 dummy design */
   color: #6e7170;
   text-align: center;
   line-height: 148px;
 }

 
 .scroll_up {
   background: url("../src/scrollUp_btn.svg") no-repeat;
   background-size: 74px 74px;
   background-position: -13px -10px;
   width: 48px;
   height: 46px;
   border-radius: 30px;
   border: 1px solid rgb(232, 232, 232);
   /* background-color: black; */
   position: fixed;
   bottom: 44px;
   right: 44px;
   box-shadow: 0 4px 4px rgba(0,0,0,0.25);
   cursor: pointer;
 }
 .scroll_up:hover {
   background-color: rgba(0, 0, 0, 1);
 }
 

/* 모바일기준 최소 500px 이상부터 */
/* @media screen and (min-width: 501px) {} */
/* PC기준 최대 500px 이하부터 */
/* @media screen and (max-width: 501px) {} */
