 @charset "utf-8";
 
 /* reset */
 body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, p {padding: 0; margin: 0;}
 ul, ol, li {list-style: none;}
 h1, h2, h3, h4, h5, h6, strong {font-size: 16px; font-weight: normal;}
 img {vertical-align: middle;}
 a {text-decoration: none; color: black;}
 
 /* base */

  body {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   height: 100%;
   width: 100%;
   font-size: 16px;
   position: relative;

   /* 창을 축소할 시, 요소 짤림 방지 */
   /* 최소 --px부터는 줄어들지 않겠다는 의미 */
   /* fit-content : 박스의 크기에 따라 콘텐츠의 크기도 따라감 */
   min-width: fit-content;
   min-height: fit-content;

   /* font */
   /* font-family: ; */
 }

 *::selection{
  color: #fff;
  background-color: #028267;
 }

 h1, h2, h3, h4, h5, h6 {font-size: 1.2rem;}
 .container {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
 }

 /* 슬라이드 : flex */
 .slide {
  display: flex;
  white-space: nowrap;
 }

 /* content_title */
 .content_title {
  font-size: 30px;
  font-weight: 700;
  margin-left: 1rem;
 }
 
 /* card */


 .card {cursor: pointer;}
 .card .card_title {
   font-size: 24px;
   font-weight: bold;
   color: #36413E;
   margin: 1rem 0;
  }
  .card .card_hash {
    color: #36413E;
    font-size: 16px;
  }
  
   /* footer title */
   .ftt {font-weight: 700;font-size: 15px;}

 /* base-end-------------------------------------------------------------------------- */




 /* header */
 #header {
   position: relative;
   width: 1200px;
   height: 120px;
   background-color: beige;
   padding-top: 22px;
 }
 #header .header_top {
   display: flex;
   width: 1200px;
   height: 44px;
   margin-left: auto;
   margin-right: auto;
   background-color: azure
 }
 #header .logo {
   width: 220px;
   height: 80px;
   display: flex;
   flex-wrap: norwap;
   overflow: hidden;
   margin-left: 20px;
 }

 .logo li {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .logo li i {
   width: 220px;
   height: 80px;
 }

 #header .logo img {
   width: 220px
 }
 .search_box {
   height: 44px;
   width: 395px;
   margin-left: 42px;
   background-color: #f5f6f6;
   border-radius: 22px;
   border: #f5f6f6;
 }
 .search_txt {
   width: 335px;
   height: 34px;
   outline: none;
   border: none;
   font-size: 14px;
   border-radius: 22px;
   background: #f5f6f6;
   float: left;
   padding: 0 0 0 10px;
   display: inline-flex;
 }

 .search_btn {
   border: none;
   outline: none;
   float: right;
   height: auto;
   font-size: 22px;
   display: flex;
   margin-right: 10px;
   margin-top: 10px;
 }

 .popular_s {
   display: flex;
   width: 200px;
   height: 44px;
   margin-left: 40px;
   /* padding-top: 15px; */
   background-color: chartreuse;
 }

 .popular_s h2 {
   width: 57px;
   height: 44px;
   align-items: center;
   font-size: 13px;
   line-height: 15px;
   padding-top: 15px;
   white-space: norwrap;
 }

 .popular_s ul li {
   font-size: 13px;
   margin-left: 20px;
   margin-right: 20px;
   padding-top: 15px;

 }

 #header {
   position: relative;
 }

 .mem_bar ul {
   display: flex;
   position: absolute;
   right: 0;
   margin-left: 10px;
 }



 .mem_bar ul li {
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
   height: 44px;
   background-color: #e5e7eb;
 }


 .mem_bar ul li i {
   font-size: 26px;
 }

 .mem_bar ul p {
   text-align: center;
   line-height: 13px;
   font-size: 11px;
   margin-top: 3px;

 }







 #header nav {
   position: absolute;
   bottom: 0;
   margin-left: auto;
   margin-right: auto;
   width: 1200px;
   height: 60px;
   font-weight: 600;
   font-size: 16px;
   display: flex;
   justify-content: space-between;
   background-color: paleturquoise;
   align-items: center;
 }



 nav .nav_l {
   display: flex;
   margin-left: 13px;
   margin-right: 13px;
   background-color: #e5e7eb;
 }

 nav .nav_r {
   display: flex;
   margin-left: 13px;
   margin-right: 13px;
   background-color: #e5e7eb;
 }

 #header nav ul li {
   padding-left: 13px;
   padding-right: 13px;
   font-size: 16px;
   align-items: center;
 }








 /* 중단 */
 .reco h1 {
   width: 1200px;
   height: 35px;
   margin-bottom: 40px;
   font-weight: bold;
   background-color: bisque;
 }
 .reco_li {
   width: 1200px;
   height: 534px;
   font-size: 30px;
   display: flex;
   background-color: gray;
 }
 .reco_li li {
   width: 430px;
   height: 532px;
   border-radius: 10px;
   background-color: #e5e7eb;
   border: 1px solid #1f2120;
   position: relative;
   margin-right: 24px;
 }
 .reco_li li .reco_img {
   position: absolute;
   top: 0;
   width: 430px;
   height: 256px;
   border: 1px solid #1f2120
 }
 .banner {
   width: 1200px;
   height: 600px;
   background-color: lightskyblue;
 }


/* mid_banner2 */
.container .mid_banner {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 234px;
  width: 1200px;
}

.container .mid_banner .wifi img {
	width: 527px;
	height: 180px;
	border-radius: 10px;
}

.container .mid_banner .dutyfree img {
	width: 527px;
	height: 180px;
	border-radius: 10px;
}




/* here -해인- */
.container .here {
  width: 100%;
  height: 560px;
  padding: 100px 0;
  background-color: #f5f6f6;
  margin-top: 130px;
}
.container .here .content_title {
  width: 1200px;
  margin: 0 auto;
}
.container .here .here_content{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  height: 440px;
}
.container .here .here_left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;

  /* 부모너비(100%) - 1200px(현재 html에서 사용하는 태그 평균 너비) */
  /* 1200px보다 클 경우 남는 공간을 2로나눈 값으로 padding 양쪽 분배하되 왼쪽에만 패딩값을 주겠다는 의미 */
  /* 이는 중앙 정렬에 도움을 줌 : 특히 고정된 너비를 가진 컨테이너를 가운데 정렬하고자 자주 사용 */
  /* calc : css의 속성값을 계산하기위해 사용 | 다양한 단위 조합(%, rem, px...)을 사용하여 계산을 수행할 수 있게 해줌. */
  padding-left: calc((100% - 1200px) / 2);
}
.container .here .here_left>span{
  display: flex;
  justify-content: space-between;
  width: 153px;
  padding: 1.3rem 24px;
  border-radius: 80px;
  color: #fff;
  background-color: #00000081;
  
}
.container .here .here_left .on{
  background-color: #009c7569;
}
.container .here .background_relative{
  position: relative;
  max-width: 1200px;
  
}
.gradient_background {
  position: absolute;
  right: 0;
  z-index: 10;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.8), transparent);
  width: 10%; /* 필요한 경우 조절 */
  height: 100%; /* 필요한 경우 조절 */
}
.container .here .here_right_box{
  overflow: scroll;
  display: flex;
  /* align-items: center; */
  height: 440px;
  margin-left: 200px;
  max-width: 1200px;
}
.container .here .here_right{
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
.container .here .here_right>p{
  margin: 1rem ;
}
.container .here .here_right>p:nth-child(2){
  font-size: 24px;
  font-weight: bold;
}
.container .here .here_right .here_table{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 458px;
  height: 256px;
}
.container .here .here_right .here_table .here_table_img{
  background-color: pink;
  border-radius: 10px;
  margin: 4px;
}
.container .here .here_right .here_table .here_table_img:first-child{
  grid-row: 1 / 3;
}









/* best5 */
.container .best5 {
  width: 1200px;
  margin: 5rem auto;
}
.best5 .best_container {
  display: flex;
  justify-content: center;
}
.best5 .best_table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 1200px;
}
.best5 .best_container .best_th {
  display: flex;
  align-items: end;
  cursor: pointer;
}
.best5 .best_container .best_th>p {
  font-size: 20px;
  color: #fff;
  padding: 1.5rem;
}
.best5 .best_container .best_th:first-child {
  grid-row: 1/ span 3;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0)1%,  rgba(0, 0, 0, 0.5)99%),
  url("../src/best5_6.jpg")no-repeat;
  background-size: cover;
  width: 342px;
}
.best5 .best_container .best_th:nth-child(2){
  height: 183px;
  width: 342px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(0, 0, 0, 0.8)99%),
  url("../src/best5_7.jpg")no-repeat;
  background-size: cover;
}
.best5 .best_container .best_th:nth-child(3){
  height: 183px;
  width: 342px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(0, 0, 0, 0.8)99%),
  url("../src/best5_9.png")no-repeat;
  background-size: cover;
}
.best5 .best_container .best_th:nth-child(4){
  height: 183px;
  width: 342px;
  background:linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(0, 0, 0, 0.8)99%),
  url("../src/best5_8.jpg")no-repeat;
  background-size: cover;
}
.best5 .best_container .best_th:nth-child(5){
  height: 183px;
  width: 342px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(0, 0, 0, 0.8)99%),
  url("../src/best5_10.png")no-repeat;
  background-size: cover;
}
.best5 .best_container .best_th {
  margin: 0.5rem;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.best5 .best_container .card_hover {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: -1;
  /* background-color: rgba(0, 156, 117, 0.8); */
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.best5 .best_container .card_hover:hover {
  background-color: rgba(0, 156, 117, 0.8);
}
.best5 .best_container .card_hover .hover_left {
  width: 240px;
  color: #fff;
  white-space: nowrap;
  word-break: break-all;
}
.best5 .best_container .card_hover .hover_left>p:first-child {
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
.best5 .best_container .card_hover .hover_left>p:nth-child(2) {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.best5 .best_container .card_hover .hover_left>p:nth-child(3) {
  font-size: 24px;
  font-weight: bold;
}
.best5 .best_container .card_hover .hover_right {
  color: #fff;
  font-size: 18-px;
}






/* reco2 */
.container .reco2 {
  margin: 5rem auto;
  width: 1200px;
  overflow: hidden;
}
.container .reco2 .card_li::-webkit-scrollbar{
  display: none;
}
.container .reco2 .card_li{
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;

  overflow: auto;
  /* overflow: hidden; */
}
.container .reco2 .card{
  margin: 0 1rem;
}
.container .reco2 .card_img{
  width: 462px;
  height: 594px;
  overflow: hidden;
  border-radius: 10px;

  /* 이미지 밝기를 조절하는 코듸 */
  filter: brightness(80%); 
}
.container .reco2 .card_img:hover{
  filter: none;
}
.container .reco2 .card_img>img{
  width: 462px;
  height: 594px;
}
.container .reco2 .card_title {
  font-size: 22px;
}

/* mid_banner_2 */
.container .mid_banner2{
  display: flex;
  justify-content: center;
}
.container .mid_banner2>a{
  width: 1200px;
  height: 256px;
  background: url("../src/mid_banner2_1.png");
  background-size: cover;
}


/* pli */
.container .pli{
  display: flex;
  justify-content: center;
  height: 750px;
  width: 100%;
  position: relative;
  padding-top: 100px;
  overflow: hidden;
  /* absolute 가운데 정렬시 필요한 base */
  /* 정렬할 widh에 auto 부여 */
  margin: 9rem auto 0 auto;
}
.container .pli .card_li {
  display: flex;
}
.container .pli .pli_bg{
  width: 100%;
  height: 452px;
  z-index: -1;
  background-color: #009c75;
  position: absolute;
  top:0;
  overflow: visible;

  /* 부모요소를 넘기는 코드 */
  /* margin-left: calc(-50vw + 50%); */
}
.container .pli .pli_title{
  color: #fff;
  font-size: 30px;
  font-weight: 700;

  position: absolute;
  top:5rem;
  /* 가운데 정렬 */
  left: 50%;
  /* 좌표값을 정가운데 기준으로 오게 함 */
  transform: translate(-47%, -50%);
}
.container .pli .pli_content{
  color: #fff;
  text-align: center;
  font-size: 20px;

  position: absolute;
  top: 8rem;
  /* 가운데 정렬 */
  left: 50%;
  transform: translate(-47%, -50%);
}
.container .pli .card{
  display: flex;
  flex-direction: column;
  margin: 5rem 3rem 0 3rem;
}
/* .container .pli .card.on{
  position: absolute;
} */
.container .pli .card .card_video {
  position: relative;
  width: 720px;
  height: 406px;
  border-radius: 10px;
}
.container .pli .card .card_video>img {
  border-radius: 10px;;
  width: 720px;
  height: 406px;
}
.container .pli .card .card_video>.play_icon {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 40%;
  left: 320px;
  color: #fff;
  z-index: 10;
}

/* slide */
/* .container .pli .card_posi {
  position: absolute;
  top:9rem;
  width: 100%;
}
.container .pli .card_li{
  width: 100%;
  display: flex;
  justify-content: space-around;
} */
.slide_wrapper{
  position: relative;
  width: 1200px;
  height: 600px;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  transform: translate(-50%, 0);
  overflow: visible;
  /* cursor: grab; */

}
.slides{
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
}

.pli>.controls {
  display: inline-block;
  position: absolute;
  bottom: 5rem;
  transform: translate(50%, 0);
}
.pli>.controls button{
  width: 34px;
  height: 34px;
  font-size: 14px;
  text-align: center;
  color: #8a8f8e;
  background-color: #fff;
  border: 1px solid #8a8f8e;
}
.pli>.controls button:hover{
  color: #fff;
  background-color: #36413E;
}
.slides.animated {
  transition: 1.5s ease-out;
  height: 600px;
  overflow: hidden;
}
.slides li{
  margin-top: 10px;
  float: left;
  width: 720px;
  height: 467px;
}

.controls {
  text-align: center;
  margin-top: 50px;
}



 /* footer */
 #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 1067px;
  }
  
  #footer .headset_icon {
    background: url("../src/headset.svg") no-repeat;
    width: 30px;
    height: 30px;
  }
  
  #footer .bottom_top {
    background-color: #f5f6f6;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    height: 481px;
    padding: 100px 0;
    border-top: 1px solid #e5e7eb;
  }
  #footer .bottom_top .bottom_top_width {
    display: flex;
    width: 1200px;
  }
  #footer .bottom_mid_width {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  #footer .bot_top_left{
    width: 450px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #footer .bot_top_left a{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
  }
  #footer .bot_top_left a:hover{
    color: #009C75;
  }
  #footer .bot_top_left p{
    font-weight: 700;
    margin: 0;
  }
  #footer .bot_top_left .nums:nth-child(1) a{
    color: #009C75;
  }
  #footer .bot_top_left .nums{
    margin: 1rem 0;
  }
  #footer .bottom_top .phone_num1 {
    /* inline-grid > inline-block처럼 작동 */
    display: grid;

    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #footer .ann {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 4px;
   height: 180px; 
  }
  
  #footer .ann>p {
    border-bottom: 2px solid black;
    padding-bottom: 0.5rem;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  #footer .ann .ann_li {
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #footer .ann>p>span {
    font-size: 24px;
    font-weight: normal;
    cursor: pointer;
  }
  #footer .ann .ann_li_box {
    display: flex;
    justify-content: space-between;
  }
  #footer .ann .ann_li_box:hover {
    cursor: pointer;
  }
  #footer .ann .ann_li_box>p {
    width: 230px;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #footer .ann .ann_li_box>span {
    font-size: 12px;
    color: grey;
    width: 57px;
    text-align: justify;
  }
  


  #footer .bot_top_right {
    border-left: 2px solid #e5e7eb;
    padding-left: 50px;
    width: 740px;
  }
  #footer .bot_top_r {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  #footer .consult_num {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  
  #footer .consult_num {
    height: 350px;
    width: 330px;
  }
  #footer .consult_num .coun_box:first-child, .coun_box:nth-child(2) {
    grid-column: 1 / 3;
    color: #1f2120;
    /* 아래와 같다 */
    /* grid-column-start: 1;
    grid-column-end: 3; */
  }
  #footer .consult_num .coun_box:first-child {
    display: flex;
    justify-content: space-between;
  }

  #footer .consult_num .coun_box .next_icon {
    background: url("../src/next_arrow.svg")no-repeat;
    width: 12px;
    height: 12px;
    margin-left: 8px;
  }
  #footer .consult_num .coun_box:first-child>a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    }
  #footer .coun_box:first-child {
    align-self: center;
    border-bottom: 2px solid black;
    padding-bottom: 0.5rem;
    font-size: 16px;
  }
  #footer .coun_box .ftt {
    display: flex;
  }
  #footer .coun_box .ftt p:nth-child(1){
    margin-right: 0.5rem;
  }
  #footer .coun_box .couns_text p{
    color: #36413E;
    font-size: 15px;
  }
  #footer .consult_time {
    display: grid;
    height: 350px;
    width: 350px;
    margin-left: 1rem;
    grid-template-rows: 88px 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  #footer .consult_time .cons_box:first-child {
    align-self: center;
    border-bottom: 2px solid black;
    padding-bottom: 0.6rem;
    font-size: 16px;
  }
  #footer .consult_time .cons_box {
    font-size: 15px;
  }
  #footer .consult_time .cons_box>p {
    font-size: 12px;
    font-weight: normal;
    color: #36413E;
  }
  #footer .consult_time>.cons_box a:hover {
    color: #009c75;
  }
  #footer .couns_text li{
    font-weight: normal;
    font-size: 14px;
    color: grey;
  }
  #footer .list_box {
    display: flex;
    justify-content: space-between;
  }
  #footer .list_box .li_box {
    display: flex;
    align-self: center;
    white-space: nowrap;
    padding: 19px 22px;
    width: 180px;
    height: 21px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  #footer .list_box .li_box img {
    margin-right: 0.5rem;
  }
  #footer .list_box .li_box span {
    margin-top: 2px;
  }
  #fam_site>option:first-child {
    display: none;
  }



  #footer .bottom_mid {
    height: 44px;
    width: 1200px;
    padding: 1rem 0;
    width: 100%;
    background-color: white;
    line-height: 44px;
  }
  #footer .bot_mid_box {
    display: flex;
    width: 100%;
    white-space: nowrap;
    justify-content: space-between;
  }
  #footer .bot_mid_left>a:nth-child(2) {
    font-weight: bold;
  }
  #footer .bot_mid_left>a:hover {
    text-decoration-line: underline;
  }
  #footer .bot_mid_left>a {
    margin: 0 4px;
    font-size: 14px;
  }
  #footer .bot_mid_right {
    margin-left: 1rem;
  }
  #footer .bot_mid_right .selected_site {
    padding: 0.5rem;
  }
  
  #footer .bottom_bot {
    height: 212px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top: 1px solid #e5e7eb;
  }
  
  #footer .bottom_bot .bot_top {
    margin: 0 75px;
    height: 148px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }
  #footer .bottom_bot .bot_bot {
    border-top: 1px solid #e5e7eb;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50%;
  }
  #footer .bottom_bot .bot_bot ul {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    border-top: 1rem;
  }
  #footer .bottom_bot .bot_bot a{
    width: 100%;
    padding: 16px 0;
    display: flex;
  }
  #footer .bottom_bot .bot_bot li {
    width: 160px;
    height: 34px;
    margin: 0 0.5rem;
    text-align: center;
    
    /* dummy design */
    line-height: 34px;
    color: #8a8f8e;
    background-color: #f5f6f6;
  }

  #footer .bot_top_t {
    width: 900px;
    position: relative;
  }
  #footer .bot_cont_link>a {
    font-size: 13px;
    font-weight: bold;
    color: #6e7170;
    text-decoration-line: underline;
    position: absolute;
    top: 2px;
    right: 0px;
  }
  #footer .bot_top_t>a:hover {
    text-decoration-line: none;
  }
  #footer .bot_cont{
    display: inline-block;
    white-space: nowrap;         
    font-size: 13px;
    color: #8a8f8e;
  }
  #footer .bot_cont>span:first-child{
    font-weight: bold;
  }
  #footer .bot_cont>span:nth-child(2){
    margin-right: 1rem;
  }
  #footer .bot_top_b {
    font-size: 12px;
  }
  #footer .bot_top_b>p {
    margin: 1rem 0;
    color: #8a8f8e;
    white-space: nowrap;
  }

  /* footer other img */
  #footer .bot_top_ri {
    /* border: 1px solid red; */
    width: 178px;
    height: 148px;
    margin-left: 3rem;
    background-color: #f5f6f6;

    /* imf 대신 dummy design */
    color: #6e7170;
    text-align: center;
    line-height: 148px;
  }

  
  .scroll_up {
    background: url("../src/scrollUp_btn.svg") no-repeat;
    background-size: 74px 74px;
    background-position: -13px -10px;
    width: 48px;
    height: 46px;
    border-radius: 30px;
    border: 1px solid rgb(232, 232, 232);
    /* background-color: black; */
    position: fixed;
    bottom: 44px;
    right: 44px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    cursor: pointer;
  }
  .scroll_up:hover {
    background-color: rgba(0, 0, 0, 1);
  }
  

 /* 모바일기준 최소 500px 이상부터 */
 /* @media screen and (min-width: 501px) {} */
 /* PC기준 최대 500px 이하부터 */
 /* @media screen and (max-width: 501px) {} */
